@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.image {
  box-shadow: 0px 0px 180px -55px rgb(141, 4, 4);
  overflow: hidden;
  text-overflow: ellipsis;
}
.info {
  background: rgba(0, 0, 0, 0.637);
  font-family: "Poppins", sans-serif;
  padding: 20px;
}
.inner {
  display: flex;
}
