@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");

.movie_card {
  display: inline-block;
  width: 100%;
  height: max-content;
  margin: 0px 0px;
  overflow: hidden;
  // border-radius: 10px;
  transition: all 0.4s;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  // font-size: 13px;
  font-weight: 400;

  .info_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    // border-radius: 10px;
    .movie_header {
      position: relative;
      padding: 20px;
      border-radius: 10px;
      height: 40%;

      h1 {
        color: #fff;
        font-weight: 400;
        font-size: x-large;
      }
      h4 {
        color: #fa5454;
        font-weight: 400;
      }
      .minutes {
        display: inline-block;
        font-size: smaller;
        margin-top: 2px;
        color: #fff;
        padding: 4px;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.13);
      }
      .type {
        display: inline-block;
        color: #cee4fd;
        margin-left: 10px;
      }
      .locandina {
        position: relative;
        float: left;
        margin-right: 20px;
        height: 180px;
        box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
      }
    }
    .movie_desc {
      padding: 25px;
      height: 50%;
      .text {
        color: #cfd6e1;
      }
    }
    .movie_social {
      height: 10%;
      padding-left: 15px;
      padding-bottom: 20px;
      ul {
        list-style: none;
        padding: 0;
        li {
          display: inline-block;
          color: rgba(255, 255, 255, 0.4);
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 10px;
          &:hover {
            transition: color 0.3s;
            color: rgba(255, 255, 255, 0.8);
          }
          i {
            font-size: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .blur_back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    background-size: cover;
    border-radius: 11px;
  }
}

@media screen and (min-width: 768px) {
  .movie_header {
    width: 60%;
  }

  .movie_desc {
    width: 50%;
  }

  .info_section {
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
  }

  .blur_back {
    width: 80%;
    background-position: -100% 10% !important;
  }
}

@media screen and (max-width: 768px) {
  .movie_card {
    width: 95%;
    margin: 10px;
    min-height: 350px;
    height: auto;
  }

  .blur_back {
    width: 100%;
    background-position: 50% 50% !important;
  }

  .movie_header {
    width: 100%;
    margin-top: 25px;
  }

  .movie_desc {
    width: 100%;
  }

  .info_section {
    background: linear-gradient(to top, rgb(20, 20, 19) 50%, transparent 100%);
    display: inline-grid;
  }
}

#bright {
  box-shadow: 0px 0px 160px -55px rgb(100, 7, 7);
  &:hover {
    box-shadow: 0px 0px 150px -45px rgb(131, 6, 6);
  }
}
