.head {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 20px;
}
@media (max-width: 620px) {
  .head {
    display: flex;
    align-items: flex-start;
    margin-left: 30px;
  }
}
