@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: 10px;
}
.tab {
  display: flex;
  padding: 10px;
  max-width: max-content;
  align-items: center;
}

.menu li {
  border: 1px rgba(255, 255, 255, 0.15) solid;
  box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.1);
  margin: 0 10px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
}
@media (max-width: 1093px) {
  .menu {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
  }
}
