@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;300&family=Teko:wght@300;400&display=swap");

.banner {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  /* height: 75vh; */
  height: max-content;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  color: white;
  padding: 2vh 2%;
  box-shadow: 10px 20px 160px -55px rgb(100, 7, 7);
  margin-bottom: 15px;
}
.banner:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgb(14, 1, 1) 40%,
    rgba(22, 2, 32, 0) 80%
  );
  background-blend-mode: multiply;
  will-change: transform;
  z-index: 0;
  color: white;
}
.banner h1 {
  position: relative;
  z-index: 10;
  font-size: 10vh;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}
.banner p {
  position: relative;
  z-index: 10;
  font-size: 1em;
  width: 48%;
  margin-top: 10px;
}
.banner h2 {
  position: relative;
  color: white;
  z-index: 10;
  color: red;
  font-size: 3.5vh;
}
.banner h3 {
  position: relative;
  color: #cccccc;
  z-index: 10;
  margin-top: 4px;
  font-size: 2.3vh;
}
.banner h4 {
  position: relative;
  color: #f0efeb;
  z-index: 10;
  margin-top: 4px;
  font-size: 2vh;
}
.banner span {
  display: flex;
  position: relative;
  z-index: 10;
  align-items: center;
  flex-direction: row;
  margin-top: 5px;
}
.banner h6 {
  color: #f03336;
  font-size: small;
  margin-right: 10px;
}
.banner img {
  height: 35px;
  width: 35px;
}
.banner-content {
  z-index: 10;
  display: flex;
  z-index: 10;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}
.banner button a {
  text-decoration: none;
  color: white;
}
.banner .watch {
  display: block;
  border: 1px solid #751e1e;
  border-radius: 4px;
  position: relative;
  z-index: 10;
  color: white;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 160px -55px rgb(100, 7, 7);
  outline: none;
  transition: all 0.2s;
}
.banner button:hover {
  color: white;
  box-shadow: 0 0 30px #6d0b0b;
}
.banner button:active {
  transform: translateY(2px);
}

@media (max-width: 1300px) {
  .banner h1 {
    font-size: 8vh;
  }
  .banner p {
    font-size: 1rem;
  }
  .banner h2 {
    font-size: 2.7vh;
  }
  .banner h3 {
    font-size: 2.2vh;
  }
  .banner {
    height: max-content;
    margin-bottom: 15px;
  }
}
@media (max-width: 1100px) {
  .banner h1 {
    font-size: 6vh;
  }
  .banner p {
    font-size: 1rem;
  }
  .banner {
    height: max-content;
    margin-bottom: 15px;
  }
}
@media (max-width: 850px) {
  .banner h2 {
    font-size: 3vh;
  }
  .banner p {
    font-size: 1rem;
    width: 60%;
  }
  .banner h4 {
    font-size: 2.5vh;
  }
  .banner h6 {
    font-size: large;
  }
  .banner {
    height: max-content;
    margin-bottom: 15px;
  }
  .banner .watch {
    margin: 10px 0px;
  }
}
@media (max-width: 690px) {
  .banner p {
    font-size: medium;
  }
  .banner h1 {
    font-size: 5vh;
  }
  .banner h4 {
    font-size: 1.5vh;
  }
  .banner h6 {
    font-size: medium;
  }
  .banner h2 {
    font-size: 2.5vh;
  }
  .banner h3 {
    font-size: large;
  }
  .banner .watch {
    margin: 10px 0px;
  }
}
@media (max-width: 500px) {
  .banner h1 {
    font-size: 3vh;
  }
  .banner h2 {
    font-size: 1.5vh;
  }
  .banner h3 {
    font-size: 1vh;
  }
  .banner h4 {
    font-size: 1.2vh;
  }
  .banner h6 {
    font-size: 1vh;
  }
  .banner p {
    font-size: 1vh;
  }
  .banner img {
    height: 20px;
    width: 20px;
  }
}
@media (max-width: 400px) {
  .banner h1 {
    font-size: 3vh;
  }
  .banner h2 {
    font-size: 1.2vh;
  }
  .banner h3 {
    font-size: 1vh;
  }
  .banner h4 {
    font-size: 1.5vh;
  }
  .banner h6 {
    font-size: 1vh;
  }
  .banner p {
    font-size: 1.2vh;
  }
  .banner img {
    height: 15px;
    width: 15px;
  }
}
